QMainWindow {
    background-color: #f0f0f0;
}
QTextEdit {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    font-family: Courier;
}
QTabWidget::pane {
    border: 1px solid #ccc;
    background-color: #ffffff;
}
QTabBar::tab {
    background: #e1e1e1;
    border: 1px solid #ccc;
    padding: 5px;
}
QTabBar::tab:selected {
    background: #ffffff;
    border-bottom-color: #ffffff;
}
QPushButton {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14px;
    margin: 2px 0;
    border-radius: 5px;
    text-align: left;
}
QPushButton:hover {
    background-color: #0056b3;
}
QComboBox {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}